<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqgjk.dao.UserDao">
    <select id="findByAccountAndPwd" parameterType="String" resultType="Guser">
    SELECT
    *
    FROM
    guser
    WHERE Account = #{0} and PassWord = #{1}
    </select>
</mapper>